<template>
    <div>
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.overview }}</p>
      <!-- 나머지 영화 정보를 추가할 수 있습니다. -->
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent, ref, watch, onMounted } from 'vue';
  import { useRouter } from 'vue-router';
  
  interface Movie {
    title: string;
    overview: string;
    // 나머지 영화 정보를 정의합니다.
  }
  
  export default defineComponent({
    name: 'SearchDetail',
    setup() {
      const router = useRouter();
      const movieId :String = $route.params.id;
      const movie = ref<Movie | null>(null);
  
      const fetchMovie = async () => {
        try {
          const response = await fetch(`https://api.themoviedb.org/3/movie/${movieId.value}?api_key=YOUR_API_KEY`);
          const data = await response.json();
          movie.value = data;
        } catch (error) {
          console.error('Error fetching movie:', error);
        }
      };
  
      // 페이지가 로드될 때마다 영화 정보 다시 가져오기
      onMounted(fetchMovie);
  
      // 라우트 매개변수가 변경될 때마다 영화 정보 다시 가져오기
      watch(() => router.currentRoute.value.params.id, (newValue, oldValue) => {
        movieId.value = newValue;
        fetchMovie();
      });
  
      return {
        movie,
      };
    },
  });
  </script>