<template>
  <div class="search-result">
    <div v-if="movie">
      <img :src="getImageUrl(movie)" alt="Movie Poster" class="movie-poster">
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.overview }}</p>
    </div>
    <div v-else>
      <p>No movie selected.</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  methods: {
    getImageUrl(movie) {
      // 영화 포스터 이미지 URL 생성
      return `https://image.tmdb.org/t/p/w500/${movie.poster_path}`;
    }
  }
};
</script>

<style scoped>
.movie-poster {
  width: 200px;
  height: auto;
}
</style>