<template>
  <div class="movie-modal">
    <!-- 영화 이미지 -->
    <img :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="Movie Poster" class="movie-poster">
    <!-- 영화 제목 -->
    <h2 class="movie-title">{{ movie.title }}</h2>
    <!-- 영화 줄거리 -->
    <p class="movie-overview">{{ movie.overview }}</p>
    <!-- 닫기 버튼 -->
    <button @click="closeModal" class="close-button">Close</button>
  </div>
</template>

<script>
export default {
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  methods: {
    closeModal() {
      this.$emit('close');
    }
  }
};
</script>

<style scoped>
.movie-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #333333; /* 테두리 추가 */
  max-width: 80%;
}

.movie-poster {
  width: 200px; /* 이미지 너비 조정 */
  height: auto;
}

.movie-title {
  margin-top: 10px;
}

.movie-overview {
  margin-top: 10px;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
</style>
