<template>
  <div class="search-container">
    <input class="search-input"  type="text" v-model="searchQuery" @input="search" placeholder="영화를 검색하세요">
     <button @click="search">검색</button>
    <ul v-if="searchResults.length">
      <li v-for="(movie, index) in searchResults" :key="index" @click="selectMovie(movie)">
        {{ movie.title }}
      </li>
    </ul>
  </div>
</template>

<script>
import { ref } from 'vue';


export default {
  setup() {
    
    const searchQuery = ref('');
    const searchResults = ref([]);

    const search = async () => {
      try {
        const response = await fetch(`https://api.themoviedb.org/3/search/multi?query=${searchQuery.value}&include_adult=false&language=ko-KR&page=1`,{
            headers: {
            accept: 'application/json',
            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NzU4YWQ3OTUxZWY5NGI5ZmE0MTc3YWVkYmZjNDk3OSIsInN1YiI6IjY1YzE3ZGI5ZjQ0ZjI3MDE4NGMwMWU0OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.HLXkiPgNGR8dkYzKSSAHAKOZcPVWfI_Md67-z1qiZhY'
          }
        });
        const data = await response.json();
        console.log('검색결과::: ' , data);
        searchResults.value = data.results;

        // 검색 결과 페이지로 이동
      //  this.$router.push({ name: 'SearchResult', query: { q: searchQuery.value, results: JSON.stringify(data.results) } });
      } catch (error) {
        console.error('Error searching movies:', error);
      }
    };

    const selectMovie = (movie) => {
      // 선택된 영화에 대한 로직 구현
      console.log('selected:::  ' , movie);
    };

    return {
      searchQuery,
      searchResults,
      search,
      selectMovie
    };
  }
};
</script>

<style scoped>
.search-container {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 0;
  margin-top: 5px;
  z-index: 1000;
  list-style-type: none;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

input[type="text"], button {
  display: inline-block;
  vertical-align: middle;
}
</style>