<template>
  <div>
    <Swiper
      ref="swiperRef"
      :navigation="navigation"
      :pagination="pagination"
      :autoplay="autoplay"
      class="my-swiper"
      :slides-per-view="5"
      @slideChange="handleSlideChange" 
    >
      <SwiperSlide v-for="(movie, index) in movies" :key="movie.id">
        <div class="movie-slide">
          <div class="image-container" @click="openModal(movie)">
            <img :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="Movie Poster" class="swiper-image">
          </div>
          <h3 class="movie-title">{{ index + 1 }}. {{ truncateTitle(movie.name) }}</h3>
        </div>
      </SwiperSlide>
    </Swiper>

    <!-- 팝업 컴포넌트 -->
    <MovieModal v-if="selectedMovie" :movie="selectedMovie" @close="selectedMovie = null" />
  </div>
</template>
<script>
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';
import { Swiper, SwiperSlide } from 'swiper/vue';
import SwiperCore, { Navigation, Pagination, Autoplay } from 'swiper/core';
import 'swiper/swiper-bundle.css';
import MovieModal from './MovieModal.vue'; // 팝업 컴포넌트 import

SwiperCore.use([Navigation, Pagination, Autoplay]);

export default {
  name: 'MovieRecommendation',
  components: {
    Swiper,
    SwiperSlide,
    MovieModal
  },
  setup() {
    const movies = ref([]);
    const loading = ref(false);
    const startIndex = ref(0);
    
    const visibleMovies = computed(() => {
        const start = startIndex.value;
        const end = start + 5;
        return movies.value.slice(start, end);
    });

    onMounted(async () => {
      loading.value = true;
      try {
        const response = await axios.get('https://api.themoviedb.org/3/tv/popular?include_adult=false&include_video=false&language=ko-KR&page=1&sort_by=popularity.desc&with_watch_providers=8', {
          headers: {
            accept: 'application/json',
            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NzU4YWQ3OTUxZWY5NGI5ZmE0MTc3YWVkYmZjNDk3OSIsInN1YiI6IjY1YzE3ZGI5ZjQ0ZjI3MDE4NGMwMWU0OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.HLXkiPgNGR8dkYzKSSAHAKOZcPVWfI_Md67-z1qiZhY'
          }
        });
        movies.value = response.data.results;
        console.log('인기 티비시리즈 목록 ::  ', movies.value);
      } catch (error) {
        console.error('Error fetching movies:', error);
      } finally {
        loading.value = false;
      }
    });

    const truncateTitle = (name) => {
      const maxLength = 20;
      return name.length > maxLength ? name.slice(0, maxLength) + '...' : name;
    };

    const navigation = true;
    const pagination = false; // 페이지네이션 숨기기
    const autoplay = {
      delay: 2500,
      disableOnInteraction: false
    };

    const moveNext = () => {
        if (startIndex.value + 5 < movies.value.length) {
            startIndex.value += 1; // 한 번에 한 개의 슬라이드씩 이동
        }
    };

    const movePrev = () => {
        if (startIndex.value > 0) {
            startIndex.value -= 1; // 한 번에 한 개의 슬라이드씩 이동
        }
    };

    const handleSlideChange = (swiper) => {
      startIndex.value = swiper.activeIndex;
    };

    // 선택된 영화 정보를 담는 변수
    const selectedMovie = ref(null);

    // 팝업을 열고 선택된 영화 정보를 설정하는 함수
    const openModal = (movie) => {
      selectedMovie.value = movie;
    };

    return {
        movies,
        loading,
        visibleMovies,
        navigation,
        pagination,
        autoplay,
        moveNext,
        movePrev,
        truncateTitle,
        handleSlideChange,
        selectedMovie,
        openModal
    };
  }
};
</script>

<style scoped>
.movie-slide {
  position: relative;
}

.image-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.swiper-image {
  width: 100%;
  height: auto;
}

.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* 타이틀 배경색 */
  padding: 5px; /* 타이틀 여백 */
  text-align: center;
  margin: 0; /* 기본 마진 제거 */
}

/* 스와이퍼 버튼 스타일 */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* 스와이퍼 버튼 아이콘 스타일 */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transition: all 0.3s ease;
}

.swiper-button-prev::after {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.swiper-button-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* 스와이퍼 버튼 호버 스타일 */
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  width: 12px;
  height: 12px;
}

/* 팝업 스타일 */
.movie-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.movie-modal img {
  width: 200px; /* 이미지 너비 조정 */
  height: auto;
}
</style>