<template>
    <div class="search-container">
      <input type="text" v-model="searchQuery" @input="search" placeholder="영화를 검색하세요" class="search-input">
      <button @click="search" class="search-button">검색</button>
      <ul v-if="searchResults.length && !loading">
        <li v-for="(movie, index) in searchResults" :key="movie.id" @click="selectMovie(movie)">
            <NuxtLink :to="`/searchDetail/${movie.id}`">
                {{ getTitle(movie) }}
                {{ movie.id }}
            </NuxtLink>
        </li>
      </ul>
      <div v-if="loading">검색 결과 로딩 중...</div>
    </div>
  </template>
  
  <script lang="ts">
  import { ref } from 'vue';
  import { useRouter } from 'vue-router';
  
  export default defineComponent({
    name: 'Search',
    components: {},
    setup() {
      const router = useRouter();
      const searchQuery = ref('');
      const searchResults = ref([] as Movie[]);
      const loading = ref(false); // Added loading state for better UX
  
      interface Movie {
        id: number;
        title: string;
        media_type:string;
        // Other movie properties as needed
      }
  
      const search = async () => {
        loading.value = true; // Set loading state to true before fetching
        try {
          const response = await fetch(`https://api.themoviedb.org/3/search/multi?query=${searchQuery.value}&include_adult=false&language=ko-KR&page=1`, {
            headers: {
              accept: 'application/json',
              Authorization:'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NzU4YWQ3OTUxZWY5NGI5ZmE0MTc3YWVkYmZjNDk3OSIsInN1YiI6IjY1YzE3ZGI5ZjQ0ZjI3MDE4NGMwMWU0OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.HLXkiPgNGR8dkYzKSSAHAKOZcPVWfI_Md67-z1qiZhY'
            },
          });
          const data = await response.json();
          console.log('검색결과 :::  ' ,  data);
          searchResults.value = data.results.filter((movie: any) => movie?.id); // Use optional chaining
        } catch (error) {
          console.error('Error searching movies:', error);
        } finally {
          loading.value = false; // Set loading state to false after fetching
        }
      };
  
      const selectMovie = (movie: Movie) => {
        console.log('selected::: ', movie);
        // Handle selected movie logic here
        router.push({ name: 'searchDetail', params: { id: movie.id } });
      };
  
      const getTitle = (movie: { title: any; name: any; media_type: string; }) => {
        return (movie.title ? movie.title : movie.name) + ' ( ' + movie.media_type + ' ) ';
      };
  
      return {
        searchQuery,
        searchResults,
        search,
        selectMovie,
        getTitle,
        loading,
      };
    },
  });
  </script>
  
  <style scoped>
    .search-container {
      position: relative;
      width: 100%;
    }
  
    .search-input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .search-results {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      padding: 0;
      margin-top: 5px;
      z-index: 1000;
      list-style-type: none;
    }
  
    .search-results li {
      padding: 10px;
      cursor: pointer;
    }
  
    .search-results li:hover {
      background-color: #f0f0f0;
    }
  
    input[type="text"],
    button {
      display: inline-block;
      vertical-align: middle;
    }
  </style>
