<template>
  <div>
    <div>
      <h2>MovieList</h2>
      <div class="movie-grid">
        <div class="movie-item" v-for="(movie, index) in visibleMovies" :key="movie.id">
          <div class="image-container" @click="openModal(movie)">
            <img :src="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="Movie Poster" class="movie-image">
          </div>
          <h3 class="movie-title">{{ startIndex + index + 1 }}. {{ truncateTitle(movie.title) }}</h3>
        </div>

        <div class="pagination-buttons">
          <button @click="prevPage" :disabled="currentPage === 0">이전</button>
          <button @click="nextPage" :disabled="currentPage === totalPage - 1">다음</button>
        </div>
      </div>
    </div>
  <!-- 팝업 컴포넌트 -->
    <MovieModal v-if="selectedMovie" :movie="selectedMovie" @close="selectedMovie = null" />
  </div>
</template>

<script lang="ts">
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';
import MovieModal from './MovieModal.vue';

interface Movie {
  id: number;
  poster_path: string;
  title: string;
}

export default defineComponent({
  name: 'MovieRecommendation',
  components: {
    MovieModal,
  },
  setup() {
    const movies = ref<Movie[]>([]);
    const selectedMovie = ref<Movie | null>(null);
    const currentPage = ref<number>(0);
    const pageSize = 5;

    onMounted(async () => {
      try {
        const response = await axios.get('https://api.themoviedb.org/3/movie/popular?include_adult=false&include_video=false&language=ko-KR&page=1&sort_by=popularity.desc&with_watch_providers=8', {
          headers: {
            accept: 'application/json',
            Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NzU4YWQ3OTUxZWY5NGI5ZmE0MTc3YWVkYmZjNDk3OSIsInN1YiI6IjY1YzE3ZGI5ZjQ0ZjI3MDE4NGMwMWU0OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.HLXkiPgNGR8dkYzKSSAHAKOZcPVWfI_Md67-z1qiZhY'
          }
        });
        movies.value = response.data.results;
        console.log('movie :: ' , movies);
      } catch (error) {
        console.error('Error fetching movies:', error);
      }
    });

    const openModal = (movie: Movie) => {
      selectedMovie.value = movie;
    };

    const truncateTitle = (title: string) => {
      const maxLength = 20;
      return title.length > maxLength ? title.slice(0, maxLength) + '...' : title;
    };

    const totalPage = computed(() => Math.ceil(movies.value.length / pageSize));
    const startIndex = computed(() => currentPage.value * pageSize);
    const endIndex = computed(() => Math.min(startIndex.value + pageSize, movies.value.length));
    const visibleMovies = computed(() => movies.value.slice(startIndex.value, endIndex.value));

    const nextPage = () => {
      if (currentPage.value < totalPage.value - 1) {
        currentPage.value++;
      }
    };

    const prevPage = () => {
      if (currentPage.value > 0) {
        currentPage.value--;
      }
    };

    return {
      movies,
      selectedMovie,
      openModal,
      truncateTitle,
      visibleMovies,
      currentPage,
      totalPage,
      nextPage,
      prevPage,
      startIndex,
    };
  },
});
</script>

<style scoped>
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  width: calc(20% - 10px); /* 5개의 아이템을 나란히 배치하기 위한 너비 설정 */
  margin-bottom: 20px;
}

.image-container {
  cursor: pointer;
}

.movie-image {
  width: 100%;
  height: auto;
}

.movie-title {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.pagination-buttons {
  margin-top: 20px;
}

.pagination-buttons button {
  margin-right: 10px;
}
</style>