<template>
  <div id="app">
  
    <SearchCmp />
    <h2 class="section-title">인기 영화</h2> <MovieList />
    <h2 class="section-title">인기 TV Series</h2> <TvSeries />
  </div>
</template>

<script>
import MovieList from './components/MovieList.vue';
import TvSeries from './components/TvSeries.vue';
import SearchCmp from './components/SearchCmp.vue';

export default {
  components: {
    MovieList,
    TvSeries,
    SearchCmp,
  },
};
</script>

<style>
/* CSS 스타일링 */
/* 인기 영화 타이틀 스타일 */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* 타이틀과 스와이퍼 간격 조정 */
}
</style>
