<script setup lang="ts">
import { useBaseUrl } from '../composables/useBaseUrl';

const baseUrl = useBaseUrl()
</script>
<template>
  <div>
    <Html lang="en">
      <Head>
        <Title>this is title</Title>
        <Meta
          name="description"
          content="`My page's ${number} description`"
        />
      </Head>
    </Html>
    <div class="home m-10">hello{{ uppercase(baseUrl) }}</div>
  </div>
</template>
<style scoped>
@import url('../assets/home.css');
</style>
